*.pyc

# tmp files
/log/files/*.log
/log/files/*.log.*
*.log
*~
*.swp
*.tar.gz

# private files
.idea
server_setting.py
User.yaml
Admin.yaml

#upload-img avatar
/static/upload/img/*
/static/avatar/*.jpg
