# cache
.DS_Store
__pycache__
*.pyc

# log files
/log/files/*.log
/log/files/*.log.*


# upload-img avatar
static/upload/img/*
static/avatar/*.jpg


# private files
server_setting.py
local_setting.py
db/data/Admin.yaml
db/data/User.yaml
cert


# local
docs/shares/*_.md
# doc/shares/99_.md
db/data/*.yaml

# todo
content/source.md
todo/
