*.pyc

# tmp files
/log/files/*.log
/log/files/*.log.*
*.log
*~
*.swp

# private files
server_setting.py
User.yaml
*.tar.gz

# temp files
douban*
tmp.md
.gitmodules

#upload img
/static/upload/img/*
