{% extends "../base.html" %}
{% block htmltype %}image{% end %}

{% block titlemore %}
-{{_(site_info['subtitle'])}}
{% end %}
{% block navbar %}
{% end %}
{% block body %}
<div class="welcome">
	<h1>{{_(site_info['title'])}}</h1>
			<p></p>
			<p>{{_(site_info['intro'])}}</p>
			<p></p>
	<p>
		<a href="/explore" class="btn btn-primary btn-large">探索更多 »</a>
	</p>
	<ul class="masthead-links">
		<li></li>
	</ul>
</div>

{% end %}
{% block footer %}
{% end %}
{% block bottom %}
{% end %}