.compose td
{
	vertical-align:middle;
	padding-bottom:5px
}

.compose td.field
{
	padding-right:10px
}

.compose .title,.compose .submit
{
	font-family:"Helvetica Nue", Helvetica, Arial, sans-serif;
	font-weight:700
}

.compose .title
{
	font-size:14pt
}

.compose .title,.compose #editor
{
	width:100%
}

#editor {
	max-height: 500px;
	height:500px;
}