body
{
  background:#355664;
  margin:10px
}

body,input
{
  font-family:sans-serif;
  font-size:10pt;
  color:#000
}

table
{
  border-collapse:collapse;
  border:0
}

td
{
  border:0;
  padding:0
}

#body
{
  position:absolute;
  bottom:10px;
  left:10px
}

#input
{
  margin-top:.5em
}

#inbox .message
{
  padding-top:.25em
}

#nav
{
  float:right;
  z-index:99
}