{% extends "../base.html" %}

{% block titlemore %}
-{{_(site_info['subtitle'])}}
{% end %}

{% block body %}
<div class="span14">
	<br/>
	<div>
		status:
	<a href="/admin/share?status=0" class="btn">0 默认状态</a>
	<a href="/admin/share?status=1" class="btn">1 管理员推荐数</a>
	<a href="/admin/share?status=2" class="btn">2 管理员推荐数</a>
	<a href="/admin/share?status=3" class="btn">3 管理员推荐数</a>
	<a href="/admin/share?status=100" class="btn">大于3 管理员推荐数</a>
	<a href="/admin/share?status=-1" class="btn">-1 已经删除</a>
</div>

	<table class="table">
		<thead>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>status</th>
			</tr>
		</thead>
		<tbody>
			{% for i in shares %}
			<tr>
				<td>{{str(i.id)}}</td>
				<td>
					<a href="/share/{{ i.id }}">{{ i.title }}</a>
				</td>
				<td>{{str(i.status)}}</td>
				<td>
					<a href="/admin/share?delete={{ i.id }}" class="btn btn-danger">删除</a>
				</td>
			</tr>
			{% end %}
		</tbody>
	</table>

</div>
{% end %}
{% block footer %}
{% end %}
{% block bottom %}
{% end %}
