# This requirements is for development

# sudo apt-get install build-essential python-dev
# You can: pip install -r requirements.txt


tornado>=3.0
# Flask

markdown2
# markdown
# Jinja2
# misaka
# pygments

### database
pymongo>=2.2.1
mongokit>=0.8
bson

# MySQL-python
# peewee<2.0.0
# SQLAlchemy



### for db_import
pyyaml


# other
fabric
# flake8 paramiko
# pillow

### cache support
# python-memcached

### form support
# -e hg+https://bitbucket.org/simplecodes/wtforms#egg=WTForms

### mail support
# Flask-Mail
# tornadomail

### testing
# nose