.liking .icon-heart {
  color:red;
}
.copyleft {
  color:#aaaaa8;
}
.post_header {
  margin-top:20px;
  position:relative;
  h1 {
    text-align:center;
  }
  .post_meta {
    border:1px solid #dededc;
    border-left:none;
    border-right:none;
    line-height:25px;
    margin:0 0 25px 0;
    padding:20px 0;
    position:relative;
  }
  .post_meta_info {
    color:#b3b3b1;
    float:right;
    overflow:hidden;
  }
}
.post_meta {
  border-right:1px solid #d8d8d8;
  font-size:14px;
  font-weight:400;
  line-height:18px;
}
.post_author_image {
  border-radius:50px 50px 50px 50px;
  display:inline-block;
  height:48px;
  overflow:hidden;
  width:48px;
}
.footer {
  padding:30px 0;
  text-align:center;
  p {
    color:#777777;
    margin-bottom:0;
  }
}

.item-content {
  box-sizing:border-box;
  height:133px;
  moz-box-sizing:border-box;
  overflow:hidden;
  padding:24px 30px 0;
  position:relative;
  webkit-box-sizing:border-box;
  h1 {
    color:#303239;
    font-size:20px;
    line-height:25px;
    margin-bottom:0;
    margin-top:0;
  }
}
.no-image .item-content {
  height:363px;
  h1 {
    font-size:33px;
    line-height:1.4;
    margin:8px 0 13px;
  }
}
.collection-items {
  padding-bottom:10px;
  zoom:1;
  a, a:hover, a:visited {
    color:#bababa;
    text-decoration:none;
  }
}
.collection-items:before {
  content:" ";
  display:table;
}
.collection-items:after {
  content:" ";
  display:table;
  clear:both;
}
.collection-item {
  box-sizing:border-box;
  float:left;
  height:385px;
  moz-box-sizing:border-box;
  padding:10px 0;
  webkit-box-sizing:border-box;
  .item-link-wrap {
    background:#ffffff;
    background:white;
    box-shadow:0 1px 2px rgba(0,0,0,0.15);
    display:block;
    height:100%;
    moz-box-shadow:0 1px 2px rgba(0,0,0,0.15);
    moz-transition:all .1s;
    ms-transition:all .1s;
    o-transition:all .1s;
    position:relative;
    transition:all .1s;
    webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);
    webkit-transition:all .1s;
    width:100%;
  }
  .item-link-wrap:hover {
    box-shadow:0 0 8px rgba(0,0,0,0.2);
    moz-box-shadow:0 0 8px rgba(0,0,0,0.2);
    webkit-box-shadow:0 0 8px rgba(0,0,0,0.2);
  }
}
.collection-item-first {
  box-sizing:border-box;
  height:385px;
  moz-box-sizing:border-box;
  padding:10px;
  webkit-box-sizing:border-box;
}
.collection-template-mixed .collection-item {
  height:438px;
  text-rendering:optimizeLegibility;
  webkit-font-smoothing:antialiased;
  .author-link, .collection-link:visited, .author-link:visited {
    color:#444444;
  }
  .collection-link:active, .author-link:active, .collection-link:focus, .author-link:focus, .collection-link:hover, .author-link:hover {
    text-decoration:underline;
  }
  .item-link-wrap {
    moz-transition:none;
    ms-transition:none;
    o-transition:none;
    overflow:hidden;
    transition:none;
    webkit-transition:none;
  }
  .item-link {
    display:block;
  }
  .item-image-container {
    display:block;
    height:230px;
    width:100%;
  }
  .item-image {
    background-position:50%;
    background-repeat:no-repeat;
    background-size:cover;
    display:block;
    height:100%;
    moz-background-size:cover;
    o-background-size:cover;
    webkit-background-size:cover;
    width:100%;
  }
  .snippet {
    color:#444444;
    font-weight:400;
    overflow:hidden;
  }
  .meta {
    border-top:1px solid #e5e5e5;
    bottom:16px;
    box-sizing:border-box;
    font-weight:400;
    left:0;
    moz-box-sizing:border-box;
    padding:18px 30px 0 30px;
    position:absolute;
    right:0;
    webkit-box-sizing:border-box;
  }
  .author-and-collection {
    color:#444444;
    float:left;
    font-size:12px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:305px;
  }
  .post-is-draft {
    background-color:#a6a6a6;
    border-radius:2px;
    color:#ffffff;
    cursor:default;
    float:right;
    font-size:10px;
    font-weight:400;
    margin:-1px -10px 0 0;
    moz-border-radius:2px;
    padding:3px 6px 2px;
    text-transform:uppercase;
    webkit-border-radius:2px;
  }
  .collection-link {
    color:#444444;
    font-weight:700;
  }
  h1 {
    color:#303239;
    font-weight:700;
  }
}
.collection-template-mixed.post-template-flex-article .collection-item h1, .collection-template-mixed.post-template-article .collection-item h1 {
  font-size:30px;
  line-height:39px;
  margin:8px 0 13px 0;
}
.collection-template-mixed.post-template-flex-article .collection-item .snippet, .collection-template-mixed.post-template-article .collection-item .snippet {
  line-height:21px;
  padding-top:4px;
}
.collection-template-mixed.post-template-flex-article .collection-item-first h1, .collection-template-mixed.post-template-article .collection-item-first h1 {
  font-size:38px;
  line-height:44px;
}
.collection-template-mixed.post-template-flex-article .collection-item-first .snippet, .collection-template-mixed.post-template-article .collection-item-first .snippet {
  font-size:17px;
  line-height:25px;
}
.collection-template-mixed.post-template-article-and-image .collection-item .has-image .item-content, .collection-template-mixed.post-template-flex-article .collection-item .has-image .item-content {
  height:120px;
}
.collection-template-mixed.post-template-article-and-image .collection-item .has-image h1, .collection-template-mixed.post-template-flex-article .collection-item .has-image h1 {
  color:#303239;
  font-size:20px;
  line-height:25px;
  margin-bottom:0;
  margin-top:0;
}
.collection-template-mixed.post-template-article-and-image .collection-item .has-image .snippet, .collection-template-mixed.post-template-flex-article .collection-item .has-image .snippet {
  color:#444444;
  font-size:15px;
  line-height:21px;
  overflow:hidden;
  padding-top:6px;
}
.collection-card {
  background-color:whiteSmoke;
  border:1px solid transparent;
  border-bottom-color:#d5d5d3;
  border-radius:4px;
  box-sizing:border-box;
  color:#333332;
  display:block;
  height:215px;
  height:auto;
  moz-border-radius:4px;
  moz-box-sizing:border-box;
  moz-transition:background-color 0.2s ease;
  ms-transition:background-color 0.2s ease;
  o-transition:background-color 0.2s ease;
  text-align:center;
  text-align:left;
  transition:background-color 0.2s ease;
  webkit-border-radius:4px;
  webkit-box-sizing:border-box;
  webkit-transition:background-color 0.2s ease;
  width:269px;
  width:100%;
  .collection-card-name {
    color:#292929;
    font-size:18px;
    font-weight:700;
    overflow:hidden;
    padding:0 15px;
    text-align:center;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
  .collection-card-author {
    color:#999999;
    font-size:13px;
    font-weight:400;
    margin-top:2px;
    text-align:center;
  }
}
.snippet p {
  font-size:16px;
  color:#444444;
  font-weight:400;
  overflow:hidden;
}