{% extends "base.html" %}
{% block title %}安德-人工智能 {% end %}
  {% block head %}
<link href="{{ static_url("css/ande.css") }}" type="text/css" rel="stylesheet">
{% end %}

{% block body %}
<div class="container">
  <div id="page">
    <form class="saybox row" method="post">
      <div id="andesay_box">
        <div id="andesay">{{andesay}}</div>
      </div>
    </form>
    <br/>
    <form class="saybox row" id="usersayform" method="post">
      <div class="col-lg-10">
        <input class="form-control inputbox" type="text" onblur="if (this.value == '') {this.value = '和我聊天吧~';}" onfocus="if (this.value == '和我聊天吧~') {this.value = '';}" id="usersay" name="ask0"  x-webkit-speech lang="zh-CN"/>
      </div>
      <div class="col-lg-2">
        <input type="submit" name="dosubmit" value="说  出" class="btn btn-primary"/>
      </div>
    </form>

    <br/>
    <form class="saybox row" id="searchForm" method="post">
      {{ xsrf_form_html() }}
      <div class="col-lg-8">
      <input class="form-control" type="text" onblur="if (this.value == '') {this.value = '搜搜更快乐~';}" onfocus="if (this.value == '搜搜更快乐~') {this.value = '';}" id="s"   x-webkit-speech />
      </div>
      <div class="col-lg-2" id="searchInContainer">
              <input type="radio" name="check" value="web" id="searchWeb" checked />
        <label for="searchWeb">全网</label>
        <input type="radio" name="check" value="site" id="searchSite" />
        <label for="searchSite" id="siteNameLabel">安问博客</label>
        <ul class="icons">
          <li class="web" title="Web Search" data-searchType="web">Web</li>
          <li class="images" title="Image Search" data-searchType="images">Images</li>
          <li class="news" title="News Search" data-searchType="news">News</li>
          <li class="videos" title="Video Search" data-searchType="video">Videos</li>
        </ul>
      </div>
      <div class="col-lg-2">
        <input type="submit" value="搜 索" class="btn btn-primary" id="submitButton"/>
      </div>

    </form>
    <br/>
    <div id="resultsDiv"></div>
  </div>

  <p class="credit">
    <a href="/ande-growup-log" title="">安德成长日志</a>
  </p>

</div>
{% end %}

{% block bottom %}
<script src="{{ static_url("js/clock.js") }}"></script>
<script src="{{ static_url("js/ande.js") }}"></script>
<script src="{{ static_url("js/googlesearch.js") }}"></script>
{% end %}