<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <meta charset="utf-8"> -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{% block title %}{% end %}{{_(site_info['title'])}}{% block titlemore %}{% end %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{_(site_info['author'])}}">
  <meta name="description" content="{{_(site_info['description'])}}">
  <link rel="alternate" href="/feed" type="application/atom+xml" title="安问feed"/>

  <!-- Le styles -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link href="{{ static_url("js/google-code-prettify/prettify.css") }}" type="text/css" rel="stylesheet" media="screen"/>
  <link href="{{ static_url("css/bootstrap-combined.no-icons.min.css") }}" type="text/css" rel="stylesheet" media="screen"/>
  <link href="{{ static_url("css/bootstrap-responsive.css") }}" type="text/css" rel="stylesheet" />
  <link href="{{ static_url("css/font-awesome.css") }}" type="text/css" rel="stylesheet" />
 <link href="{{ static_url("css/anwen.css") }}" type="text/css" rel="stylesheet" media="screen" />
  {% block head %}{% end %}
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if IE 6]>
  <script type="text/javascript" src="http://letskillie6.googlecode.com/svn/trunk/letskillie6.zh_CN.pack.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="{{ static_url("ico/favicon.ico") }}"></head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">

  <!-- Navbar
================================================== -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner1">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">{{_(site_info['title'])}}<sup style="font-size:12px;">&nbsp;{{_(site_info['subtitle'])}}</sup></a>
        {{ modules.Useradmin() }}
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li id="home">
              <a href="/">{{_('Home')}}</a>
            </li>
            <li id="pencil">
              <a href="/node/pencil">{{_('Create')}}</a>
            </li>
            <li id="music">
              <a href="/node/music">{{_('Music')}}</a>
            </li>
            <li id="film">
              <a href="/node/film">{{_('Video')}}</a>
            </li>
            <li id="book">
              <a href="/node/book">{{_('Book')}}</a>
            </li>
            <li id="eyeopen">
              <a href="/node/eyeopen">{{_('Eyeopen')}}</a>
            </li>
            <li id="ask">
              <a href="/node/ask">{{_('Asks')}}</a>
            </li>
            <li id="sf">
              <a href="/node/sf">{{_('SF')}}</a>
            </li>
            <li id="fire">
              <a href="/node/fire">{{_('Actions')}}</a>
            </li>
            <li id="nodes">
              <a href="/nodes">{{_('Nodes')}}</a>
            </li>
          </ul>

          <!-- <form action="/search" class="navbar-search pull-right">
          <input type="text" class="search-query" placeholder="search..." x-webkit-speech="" lang="zh-CN"/>
        </form>
        -->
      </div>
    </div>
  </div>
</div>

{% block body %}{% end %}
<!-- Footer
================================================== -->
<footer class="footer">
  <div class="container">
    {{site_info['bottom_info']}}
  </div>
</footer>



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
<!-- or use local jquery -->
<script src="{{ static_url("js/jquery.min.js") }}"></script>
<script src="{{ static_url("js/jquery.hotkeys.js") }}"></script>
<script src="{{ static_url("js/Validform_v5.1.js") }}"></script>
<script src="{{ static_url("js/bootstrap.min.js") }}"></script>
<script src="{{ static_url("js/common.js") }}"></script>
<script src="{{ static_url("js/google-code-prettify/prettify.js") }}"></script>
{% block bottom %}{% end %}
</body>
</html>