<!DOCTYPE html>
<html lang="en" class="{% block htmltype %}{% end %}">
<head>
  <meta charset="utf-8">
  <!-- {{_(site_info['title'])}} -->

  <title>{% block title %}{% end %} {{_(site_info['title'])}} {% block titlemore %}{% end %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{_(site_info['author'])}}">
  <meta name="description" content="自由开源的理想主义社区与创造分享平台,致力于创造和分享最打动大家的或有趣的东西">
  <!-- <meta name="description" content="{{_(site_info['description'])}}"> -->
  <link type="text/plain" rel="author" href="/humans.txt" />
  <link rel="alternate" href="/feed" type="application/atom+xml" title="{{_(site_info['title'])}} feed"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--
  <link href="{{ static_url("css/bootstrap3.min.css") }}" type="text/css" rel="stylesheet"/>
  <link href="{{ static_url("css/font-awesome.css") }}" type="text/css" rel="stylesheet" />
  -->
  <!--
  <link rel="stylesheet/less" type="text/css" href="{{static_url('less/main.less')}}">
  <script type="text/javascript" src="{{static_url('js/less.js')}}"></script>
  -->
  <link href="{{ static_url("css/main.css") }}" rel="stylesheet"/>
  <!--[if IE 7]>
  <link rel="stylesheet" href="{{ static_url("css/font-awesome-ie7.min.css") }}">
  <![endif]-->
  {% block head %}{% end %}
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if IE 6]>
  <script type="text/javascript" src="http://letskillie6.googlecode.com/svn/trunk/letskillie6.zh_CN.pack.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="{{ static_url("ico/favicon.ico") }}"></head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
  {% block navbar %}
  <div class="navbar navbar-inverse navbar-fixed-top aw-main-nav">
    <div class="container">
      {{ modules.Useradmin() }}
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".nav-collapse" pull-right>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">
        {{_(site_info['title'])}} <sup style="font-size:12px;">&nbsp;{{_(site_info['subtitle'])}}</sup>
      </a>

      <div class="nav-collapse collapse">
        <ul class="nav navbar-nav">
          {% for k in node_list[:-1] %}
          <li id="{{k}}">
            <a href="/node/{{k}}">{{_(node_about[k]['name'])}}</a>
          </li>
          {% end %}
        </ul>
      </div>
    </div>
  </div>
  {% end %}
{% block body %}{% end %}

{% block footer %}
  <footer class="footer">
    <div class="container">
      <div class="center">

        <span class=" copyleft">
          2012-2018 {{_(site_info['title'])}}
          All of our posts are licensed under
          <a href="http://creativecommons.org/licenses/by/3.0/">CC BY SA 3.0</a>
          <!-- NC -->
          <!-- Creative Commons Attribution-Noncommercial-Share Alike 3.0 -->
        </span>

        <a href="/about">{{_('About')}}</a>
        <a href="/help">{{_('Help')}}</a>
        <a href="/changelog">{{_('Changelog')}}</a>
        <!-- <a href="/app"> <i class="icon-android icon-2x"></i></a> -->
        <a href="https://twitter.com/askenderlee"> <i class="icon-twitter icon-2x"></i>
        </a>
        <a href="https://plus.google.com/112193997643841667020" rel="publisher">
          <i class="icon-google-plus icon-2x"></i>
        </a>
        <a href="https://github.com/anwen/anwen">
          <i class="icon-github icon-2x"></i>
        </a>
        <a href="https://trello.com/b/dNStnhTo/anwen-dev">
          <i class="icon-trello icon-2x"></i>
        </a>
      </div>
      <div class="center">{{_('Today Quote')}}: {{random_sayings}}</div>

    </div>
  </footer>
{% end %}
  <script src="{{ static_url("js/jquery-1.9.1.min.js") }}"></script>
  <script src="{{ static_url("js/bootstrap3.min.js") }}"></script>
  {% block bottom %}{% end %}
</body>
</html>
