{% extends "userbase.html" %}
{% block title %}
修改密码-
{% end %}
{% block usermain %}
<ul class="nav nav-tabs">
  <li class="">
    <a href="/setting">设置</a>
  </li>
  <li class="active">
    <a href="/changepass">修改密码</a>
  </li>
</ul>

<form class="form-horizontal" method="post">
  {{ xsrf_form_html() }}
  <div>
    旧密码:
    <input name="oldpass" type="password" class="col-lg-4 form-control" required/>
  </div>

  <div>
    新密码:
    <input name="newpass" type="password" class="col-lg-4 form-control" required/>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">保存</button>
  </div>
</form>
{% end %}