{% extends "base.html" %}
{% block titlemore %}
-创造和分享美好
{% end %}
{% block body %}
<div class="container collection-items">

	<div class="row">
		<div class="span3">

	<div class="collection-card-list-item">
		<a class="collection-card clearfix" href="/21st-century-architectures" title="21st Century Architectures">
			<span class="avatar avatar-collection avatar-large avatar-background-image" style="background-image: url('https://d233eq3e3p3cv0.cloudfront.net/crop/190/0/0/190/190/0*zgP8angOYPsXoRYj.jpeg')"></span>
			<hgroup>
				<h2 class="collection-card-name wf">21st Century Architectures</h2>
				<h3 class="collection-card-author wf">Werner Vogels</h3>
			</hgroup>
			<hr class="collection-card-separator"/>

		</a>
	</div>


		</div>




		<div class="span3">wwww</div>
		<div class="span3">wwww</div>
		<div class="span3">wwww</div>
	</div>

</div>
{% end %}