{% extends "base.html" %}
{% block title %}
忘记密码-
{% end %}

{% block body %}
<div class="container well">

  <form class="form-horizontal" method="post">
    <legend>密码找回</legend>
    {{ xsrf_form_html() }}
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">{{_('Email')}}</label>
      <div class="col-lg-4">
        <input type="email" name="email" class="form-control" id="inputEmail" required></div>
    </div>

    <div class="form-group">
      <label for="" class="col-lg-2 control-label"></label>
      <div class="col-lg-4">
        <button type="submit" class="btn btn-primary">提交</button>
      </div>
    </div>
  </form>

</div>
{% end %}

{% block bottom %}
{% end %}