{% extends "base.html" %}
{% block title %}
重设密码-
{% end %}

{% block body %}
<div class="container well">

  <form class="form-horizontal" method="post">
    <legend>重设密码</legend>
    {{ xsrf_form_html() }}
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">{{_('Password')}}</label>
      <div class="col-lg-4">
        <input type="password" name="password" class="form-control" id="inputPassword" minlength="8" required></div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label"></label>
      <div class="col-lg-4">
        <button type="submit" class="btn btn-primary">提交</button>
      </div>
    </div>
  </form>

</div>
{% end %}

{% block bottom %}
{% end %}