{% extends "userbase.html" %}
{% block title %}
修改设置-
{% end %}
{% block usermain %}
<ul class="nav nav-tabs">
  <li class="active">
    <a href="/setting">设置</a>
  </li>
  <li class="">
    <a href="/changepass">修改密码</a>
  </li>
</ul>



  <form class="form-horizontal" method="post">
    {{ xsrf_form_html() }}
    <div>
      {{_('Name')}}:
      <input name="name" type="text" class="col-lg-4 form-control" value="{{user.user_name}}" required/>
    </div>

    <div>
      城市:
      <input name="city" type="text" class="col-lg-4 form-control" value="{{user.user_city}}" />
    </div>

    <div>
      <p>个性说明(<a href="/markdown" target="_blank">支持Markdown</a>
      <a href="/edit" target="_blank">编辑器</a>):</p>
       <textarea name="say" rows="20" class="col-lg-4 form-control">{{user.user_say}}</textarea>
    </div>

    <div>要设置头像，请前往
        <a href="http://gravatar.com" target="_blank">Gravatar</a></div>



    <div>
      <button type="submit" class="btn btn-primary">保存</button>
    </div>
  </form>
{% end %}

{% block bottom %}
<script type="text/javascript">
  //<![CDATA[

    $(function() {
      $("input[name=title]").select();
      $("form.compose").submit(function() {
          var required = ["name","city","say"];
          var form = $(this).get(0);
          for (var i = 0; i < required.length; i++) {
              if (!form[required[i]].value) {
                  $(form[required[i]]).select();
                  return false;
              }
          }
          return true;
      });
    });

  //]]></script>
{% end %}