{% extends "base.html" %}
<!-- title -->
{% block title %}
{{ escape(share.title) }}-
{% end %}


{% block body %} <!-- big body block -->

<!-- 题图 -->
{% if share.post_img %}
<div class="post_image_wrap">
    <span class="post_image" style="background-image:url(/static/upload/img/{{ share.post_img }})">
        <img src="/static/upload/img/{{ share.post_img }}" alt="" style="display:none"></span>
</div>
{% end %}

<div class="container post_field">
<div class="row span12">

<div class="share" id="content"> <!-- 内容 -->
<!-- 标题 时间 -->
<header class="post_header" data-id="{{share.id}}">
<h1 class="post_title" itemprop="name">{{ escape(share.title) }}</h1>
<div class="post_meta clearfix">
<div class="post_meta_info">
<a class="post_author" title="{{share.author_name}}" href="/user/{{share.author_domain}}">{{share.author_name}}</a>
<time class="post_date">
{{ locale.format_date(share.published, full_format=True, shorter=False) }}
</time>
</div>
</div>
</header>

<!-- 正文 标签 -->
<div class="body entry">


{% if share.link %}
<div>
<i class="icon-link"></i>
链接分享：<a href="{{ share.link }}">{{ share.link }}</a>

{% if share.sharetype=='rss' %}
 - 来自rss
{% end %}

</div>



{% end %}



{{ share.content }}
</div>
<div class="tags">{{ share.tags }}</div>

<!-- 点赞/喜欢/赞同 收藏 分享-->
<!-- <i class="icon-thumbs-up"></i> -->
<p class="some">

<a href="javascript:" class="do-like {{'liking' if share.is_liking else ''}}" eid="{{share.id}}" etype="share">
<i class="icon-heart"></i><span> {{ share.likenum }}</span>
</a>

<a href="javascript:" class="do-dislike {{'disliking' if share.is_disliking else ''}}" eid="{{share.id}}" etype="share">
<i class="icon-thumbs-down"></i><span> {{ share.dislikenum }}</span>
</a>


<a href="javascript:" class="do-collect {{'collecting' if share.is_collecting else ''}}" eid="{{share.id}}" etype="share">
<i class="icon-star"></i><span> </span>
</a>

</p>

<span> {{ share.status }}</span>


</div> <!-- 内容 -->

<!-- 编辑 -->
<div>
    {% if current_user and (current_user["user_id"]==share.user_id or current_user["user_id"]==1) %}
    <a href="/share?id={{ share.id }}">
    <button class="btn btn-success" >编辑本文</button>
    </a>
    {% end %}
</div>

<!-- 评论 -->


{% if share.viewpoints %}
<p>{{share.vote_title}}</p>
{% for (offset,viewpoint) in enumerate(share.viewpoints) %}
    <p>{{viewpoint.aview}}
      <a href="javascript:" class="do-like {{'liking' if share.is_liking else ''}}" eid="{{viewpoint.id}}" etype="viewpoint">
      <i class="icon-thumbs-up"></i>
      <span> {{ viewpoint.likenum }}</span>
      </a>
    </p>

{% if current_user %}
    <form class="form-horizontal" id="addViewPoint" >
        {{ xsrf_form_html() }}
      <div class="form-group">
        <label for="aview" class="col-lg-2 control-label">新观点</label>
        <div class="col-lg-4">
          <input type="text" name="aview" class="form-control" id="aview" required>
        </div>
        <input type="submit" id="submit" value="提交" />
        <input type="hidden" name="share_id" id="share_id" value="{{ share.id }}"/>
      </div>
    </form>
{% end %}


{% end %}
{% end %}




<div class="hero-unit" id="commentmain">
{% if comments %}

{% for (offset,comment) in enumerate(comments) %}
    <div class="comment">
    <div class="avatar">
    <img class="img-circle" src="{{comment.gravatar}}" />
    </div>
    <div class="name">{{comment.name}}</div>

    <div class="date">


<a href="javascript:" class="do-like {{'liking' if  comment.is_liking else ''}}" eid="{{comment.id}}" etype="comment">
<i class="icon-heart"></i><span> {{ comment.likenum }}</span>
</a>

<a href="javascript:" class="do-dislike {{'disliking' if comment.is_disliking else ''}}" eid="{{comment.id}}" etype="comment">
<i class="icon-thumbs-down"></i><span> {{ comment.dislikenum }}</span>
</a>

    #{{offset+1}}  {{ locale.format_date(comment.commenttime, full_format=True, shorter=True) }}




  </div>
    <p>{{comment.commentbody}}</p>
    </div>
{% end %}

{% end %}





{% if current_user %}
    <div id="addCommentContainer">
    <form id="addCommentForm">
        {{ xsrf_form_html() }}
        <div>
        <label for="commentbody">评论：</label>
        <textarea name="commentbody" id="commentbody" rows="5" cols="40" autocomplete="off"></textarea>
        <input type="submit" id="submit" value="提交" />
        </div>
        <input type="hidden" name="share_id" id="share_id" value="{{ share.id }}"/>
    </form>
    </div>
{% end %}

</div> <!-- 评论 -->

</div>
</div>
{% end %} <!-- big body block -->

{% block bottom %}
<script src="{{ static_url('js/comment.js') }}" type="text/javascript"></script>
{% end %}
