{% extends "base.html" %}
{% block title %}
分享-
{% end %}
{% block body %}
<div class="container">
  <form action="{{ request.path }}" method="post" class="compose">
    <fieldset>
      <legend>{{"修改分享" if share else "创建分享"}}</legend>
    </fieldset>
    <div>
      标题:
      <input name="title" type="text" class="form-control" value="{{escape(share.title) if share else ""}}"/>
    </div>
    <div>
      正文:
      <textarea name="markdown" class="form-control" rows="30" cols="40" >{{escape(share.markdown) if share else ""}}</textarea>
    </div>
    <div>
      标签(选填，多个可用空格分隔):
      <input name="tags" type="text" class="form-control" value="{{escape(share.tags) if share else ""}}"/>
    </div>
    <div>
      别名(选填，a-zA-Z0-9_-):
      <input name="slug" type="text" class="form-control" value="{{escape(share.slug) if share else ""}}"/>
    </div>
    <div>
      {% for k in node_list %}
      {% if k != 'goodlink' %}
      <label class="radio-inline">
        <input type="radio" name="sharetype" checked="{{'checked' if share and share.sharetype == k else ""}}"> <i class="icon-{{node_about[k]['icon']}}"></i>
        {{_(node_about[k]['name'])}}
      </label>
      {% end %}
      {% end %}
    </div>

    <a id="switchImgWrap" class="btn btn-info">上传封面{{'(already exist)' if share and share.post_img else ""}}</a>
    <div class="post_image_upload_wrap node_empty_border">
      <div class="post_image_upload piu node_empty">
        <a href="javascript:void(0)" class="upload_btn btn btn-info" onclick="getElementById('upload_file_hide').click()">上传图片 或 拖拽图片到这里</a>
        <span class="message"> <i></i>
          <p>拖拽图片到这里就会自动上传，请保证你上传图片的质量。</p>
        </span>
        <input type="file" name="uploadImg" id="upload_file_hide" />
        <input type="hidden" datatype="post_Img" id="post_Img_1" name="post_Img" errormsg="啊哈？出错了" nullmsg="你还没有上传图片。" />
        <span class="Validform_checktip postImgValidformChecktip"></span>
        <a class="del_post_img btn" href="javascript:void(0)">
          <i class="icon-remove icon-white"></i>
          删除
        </a>
      </div>
    </div>

    <div>
      <button type="submit" class="btn btn-primary">{{ "保存修改" if share else "发布分享" }}</button>
      <div style="float:right">
        <a href="/markdown" target="_blank">Markdown漫游</a>
        <a href="/edit" target="_blank">Markdown编辑器</a>
      </div>
    </div>
    {% if share %}
    <input type="hidden" name="id" value="{{ share.id }}"/>
    {% end %}
    <input type="hidden" name="sharetype" value="{{ share.sharetype if share else '' }}"/>
    <input type="hidden" name="post_img" value="{{ share.post_img if share else '' }}"/>
    {{ xsrf_form_html() }}
  </form>
</div>
{% end %}

{% block bottom %}
<script src="{{ static_url("js/jquery.filedrop.js") }}"></script>
<script src="{{ static_url("js/share.js") }}"></script>
{% end %}