{% extends "base.html" %}
{% block title %}
分享-
{% end %}
{% block body %}
<div class="container">
  <form action="{{ request.path }}" method="post" class="compose">
    <fieldset>
      <legend>{{"修改分享" if share else "创建分享"}}</legend>
    </fieldset>
    <div>
      链接地址:
      <input name="link" type="url" class="form-control" value="{{escape(share.link) if share else ""}}" required/>
    </div>
    <div>
      标题:
      <input name="title" type="text" class="form-control" value="{{escape(share.title) if share else ""}}" required/>
    </div>
    <div>
      简单评论(选填):
      <!-- <input name="markdown" type="text" class="form-control" value="{{escape(share.markdown) if share else ""}}"/> -->
      <textarea name="markdown" class="form-control" rows="10" cols="40" >{{escape(share.markdown) if share else ""}}</textarea>
    </div>
    <div>
      标签(选填，多个可用空格分隔):
      <input name="tags" type="text" class="form-control" value="{{escape(share.tags) if share else ""}}"/>
    </div>


    <div>
      投票：
      <label class="radio-inline">
        <input type="radio" name="vote_open" id="1" value="1" {{'checked' if share and share.vote_open == 0 else ""}}> <i class="icon-hand-up"></i>
      </label>
      <label class="radio-inline">
        <input type="radio" name="vote_open" id="0" value="0" {{'checked' if share and share.vote_open == 1 else ""}}> <i class="icon-off"></i>
      </label>
    </div>
    <div>
      投票标题：
      <input name="vote_title" type="text" class="form-control" value="{{escape(share.vote_title) if share else ""}}"/>
    </div>


    <div>
      <button type="submit" class="btn btn-primary">{{ "保存修改" if share else "发布分享" }}</button>
    </div>

    <input type="hidden" name="sharetype" value="goodlink"/>
    {% if share %}
    <input type="hidden" name="id" value="{{ share.id }}"/>
    {% end %}
{{ xsrf_form_html() }}
  </form>
</div>
{% end %}

{% block bottom %}
{% end %}
