{% extends "userbase.html" %}
{% block title %}
{{user.user_name}}-主页-
{% end %}

{% block usermain %}
<ul class="nav nav-tabs">
  <li class="active">
    <a href="/user/{{user.user_domain}}">主页</a>
  </li>
  <li class="">
    <a href="/userlike/{{user.user_domain}}">
      喜欢
      <span class="badge">{{likenum}}</span>
    </a>
  </li>
</ul>
<div class="user-say">{{user.user_say}}</div>


<div class="user-articles">

{% for (offset,share) in enumerate(shares) %}
<ul>
	<li>

{{ share.id }}


<time class="post_date">
{{ locale.format_date(share.published, full_format=False, shorter=False) }}
</time>



<a href="/share/{{ share.id }}" class="item-link">

{{ share.title }}
</a>


<a href="javascript:" class="do-like" eid="{{share.id}}" etype="share">
<i class="icon-heart"></i><span> {{ share.likenum }}</span>
</a>

<a href="javascript:" class="do-dislike" eid="{{share.id}}" etype="share">
<i class="icon-thumbs-down"></i><span> {{ share.dislikenum }}</span>
</a>



</li>
</ul>

{% end %}

</div>

{% end %}

{% block userside %}
{% end %}


{% block bottom %}
<script src="{{ static_url("js/comment.js") }}" type="text/javascript"></script>
{% end %}
